/* assets/iconfont.css */
@font-face {
  font-family: "iconfont"; /* Project id 4646180 */
  src: url('//at.alicdn.com/t/c/font_4646180_ak176vp4e4.woff2?t=1740210498105') format('woff2'),
    url('//at.alicdn.com/t/c/font_4646180_ak176vp4e4.woff?t=1740210498105') format('woff'),
    url('//at.alicdn.com/t/c/font_4646180_ak176vp4e4.ttf?t=1740210498105') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuichudenglu:before {
  content: "\e616";
}

.icon-shezhi:before {
  content: "\e606";
}

.icon-caidan:before {
  content: "\e64f";
}

.icon-close:before {
  content: "\e6b2";
}

.icon-open:before {
  content: "\e650";
}
/* @import url('https://at.alicdn.com/t/c/font_4646180_bwzenhb4zp6.css'); */
